<blockquote class="p-7 text-center bg-amber-900 m-2.5 text-white rounded-lg">
    <p>
        Hay ajedrecistas a los que asusta cualquier ataque, sea contra un peón, contra una pieza o,
        especialmente, contra el rey; y para contrarrestar este ataque movilizan todas sus piezas. Esto es
        un
        error, pues el rey debe defenderse con el mínimo de piezas que sean necesarias; éstas deben
        emplearse
        masivamente, en cambio, cuando se ataca al rey adversario.
    </p>
    <cite>J.R Capablanca</cite>
</blockquote>