<footer class="pt-5 pb-5 mt-10 bg-black text-white text-center lg:grid lg:grid-cols-3">
    <div class="lg:flex flex-col  lg:justify-center">
        <address>Calle Antillas 32<br>43800 Calafell</address>
        <p><i class="fa-solid fa-phone"></i>+34 645 627 998</p>
    </div>
    <div>
        <img src="./assets/images/logo-ajedrez.png" alt="logo-ajedrez" class="block w-2/5 m-auto bg-white mt-4 mb-4 ">
    </div>
    <div class="lg:flex flex-col  lg:justify-center">
        <ul>
            <li><a href="clubMembers.html" class="hover:text-amber-900 hover:text-xl hover:duration-700">Club
                    Members</a></li>
            <li><a href="blog.html" class="hover:text-amber-900 hover:text-xl hover:duration-700">Blog</a></li>
            <li><a href="#" class="hover:text-amber-900 hover:text-xl hover:duration-700">Contacto</a></li>
        </ul>
        <a href="#" class="mr-4 hover:text-amber-900 hover:text-xl hover:duration-700 lg:mr-0"> <i
                class="fa-brands fa-facebook "></i></a>
        <a href="#" class="hover:text-amber-900 hover:text-xl hover:duration-700"> <i
                class="fa-brands fa-twitter"></i></a>
        <a href="#" class="ml-4 hover:text-amber-900 hover:text-xl hover:duration-700 lg:ml-0"> <i
                class="fa-solid fa-envelope"></i></a>
    </div>
</footer>