<header class="pb-5 bg-black">
        <div class="flex flex-col items-center justify-between lg:flex-row lg:ml-0">
                <a href="index.html" class="lg:self-start mt-5 ">
                        <img class="block w-2/5 m-auto bg-white  lg:m-0 lg:ml-3 " src="./assets/images/logo-ajedrez.png"
                                alt="logo-ajedrez">
                </a>
                <nav class="flex flex-col items-center lg:flex-row lg:items-center lg:m-8 ">
                        <ul class="py-5 text-center lg:flex lg:space-x-8">
                                <li class="mb-4 lg:mb-0">
                                        <a href="clubMembers.html"
                                                class="text-white text-2xl font-bold hover:text-amber-900 hover:text-3xl hover:duration-700">Club
                                                Members</a>
                                </li>
                                <li class="mb-4 lg:mb-0">
                                        <a href="blog.html"
                                                class="text-white text-2xl font-bold hover:text-amber-900 hover:text-3xl hover:duration-700">Blog</a>
                                </li>
                                <li>
                                        <a href="#"
                                                class="text-white text-2xl font-bold hover:text-amber-900 hover:text-3xl hover:duration-700">Contacto</a>
                                </li>
                        </ul>
                </nav>
        </div>
</header>